<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>定时任务管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<style type="text/css">
    body {
        width: 80%;
        text-align: center;
        margin: auto;
    }
</style>

<body th:content='${cronList}'>
<div id="app">
    <h1>任务调度中心</h1>
    <el-table
            :data="cronList"
            style="width: 100%"
            type="selection"
            :row-style="getClass"
            :row-class-name="tableRowClassName">
        <el-table-column
                type="index"
                width="50" label="序号">
        </el-table-column>
        <el-table-column
                prop="count"
                label="数量"
                width="50">
        </el-table-column>
        <el-table-column
                prop="taskName"
                label="任务名称"
                width="180">
        </el-table-column>
        <el-table-column
                prop="status"
                label="状态"
                width="180">
        </el-table-column>
        <el-table-column
                prop="cron"
                label="cron表达式">
        </el-table-column>
        <el-table-column
                label="操作">
            <template slot-scope="scope">
                <el-button type="primary" @click="editTaskCron(scope.row)">编辑cron</el-button>
                <el-button type="primary" @click="runTaskCron(scope.row)">执行</el-button>
                <el-button type="primary" @click="changeStatusTaskCron(scope.row)">{{scope.row.status === 1 ? "禁用": '启用'}}</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            cronList: JSON.parse(document.body.getAttribute("content")),
        },
        mounted() {
            this.initTable();
        },
        methods: {
            initTable : function() {
                $.ajax({
                    type: "get",
                    url: "/sundial/list",
                    dataType: "json",
                    success: function(json) {
                        this.cronList = json;
                    }
                });
            },
            editTaskCron(obj) {
                let taskId = obj.id;
                let originalCron = obj.cron;
                let newCron = window.prompt("请输入cron表达式:", originalCron);
                if (newCron === null || newCron === '') {
                    return;
                }
                var task = {"id": taskId, "cron": newCron};
                this.post("/sundial/update", "put", JSON.stringify(task));
            },
            runTaskCron(obj) {
                let taskName = obj.taskName;
                let formData = new FormData();
                formData.append("taskName", taskName);
                this.post("/sundial/execute?taskName=" + taskName, "get", null);
            },
            changeStatusTaskCron(obj) {
                let taskId = obj.id;
                let status = obj.status == 1 ? 2 : 1;
                var task = {"id": parseInt(taskId), "status": parseInt(status)};
                this.post("/sundial/update", "put", JSON.stringify(task));
            },
            post(reqUrl, reqMet, formData) {
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState !== 4) {
                        return;
                    }
                    if ((xhr.status >= 200 && xhr.status < 300) || xhr.status === 304) {
                        var resJson = JSON.parse(xhr.responseText);
                        if (resJson.data) {
                            window.location.reload();
                            alert('操作成功');
                            return;
                        } else {
                            alert('system error');
                        }
                    } else {
                        console.log("required failed " + xhr.status);
                    }
                };
                xhr.open(reqMet, reqUrl, true);
                xhr.setRequestHeader('content-type', 'application/json');
                xhr.send(formData);
            },
            handleSelectionChange(val) {
				this.multipleSelection = val;
				console.info(this.multipleSelection)
			},
            getClass(row) {
                if (row.row.status === 1) {
                    return this.enable;
                } else if (row.row.status === 2) {
                    return this.disable;
                }
            }
        }
    })
enable = {
                "color": "green"
            },
            disable = {
                "color": "red"
            }
</script>

</html>